.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 10vh;
  box-sizing: border-box;
}

.cd-container {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  grid-gap: clamp(50px, 5vw, 100px);

  width: 90vw;
  max-width: 1400px;
}

.cd-container > .cd-case {
  width: 400px;
}

.title {
  margin: 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.title > .sup {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

@media (max-width: 450px) {
  .cd-container {
    grid-template-columns: repeat(auto-fill, 320px);
  }

  .cd-container > .cd-case {
    width: 320px;
  }
}
