$text-color: rgba(0, 0, 0, 0.8);

body {
  background-color: rgb(241, 242, 243);
  color: $text-color;
  padding: 0;
  margin: 0;
}

button {
  color: $text-color;
}

::selection {
  background-color: rgba(180, 180, 180, 0.5);
}

#nprogress {
  .bar {
    background-color: #a6acb7;
  }
  .peg {
    box-shadow: 0 0 10px #a6acb7, 0 0 5px #a6acb7;
  }
}
